/* style.css */

html, body {
  height: 100%;
}

body {
  background-color: #ffffff;
  margin: 0;
  display: flex;
  justify-content: center;  /* 使画布水平居中 */
  align-items: center;      /* 使画布垂直居中 */
}

canvas {
  /* display: block;*/
  z-index: 10;
}
